.test .inner {
    background: transparent url(test/images/background.png) no-repeat 100% 5px
}

.test .remote {
    background: transparent url(http://placehold.it/1024x768)
}

.test .without-quote {
    background: url(test/images/background-without-quote.png)
}

.test .url-with-function {
    background: transparent url(test/render/valid/import/false.eot) no-repeat 100% 5px
}

.test .foo {
    background: url(test/render/images/foo.png)
}

.test .bar {
    background: url(test/render/images/bar.png)
}

.foo {
    background: url(test/render/valid/images/local-background.png)
}
